

.mark{
  width: 20px;
}

.lista{
    /* padding: 30px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    /* justify-items: center; */
   
}

.lista ul{
    /* padding: 30px; */
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 10px;
    align-items: center;
   
}

.addtype{
grid-column: 1/-1;

}


#corpo3{
    display: flex;
    justify-content: center;
    gap: 40px;

   
    
}

.nome{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



#b1, #b2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    background: silver;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}
.t1{
    color: red;
    

}
.rodo{
    /* display: flex; */
    width: 60px;
    height: 60px;
    background: red;
    border-radius: 50%;
    /* margin-right: -75px;
    margin-top: 20px; */
    

}

input{
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #5f5d5d;
}

@media (max-width:900px) {
    

    .lista{
        grid-template-columns: 1fr;
        justify-items: center;
        justify-content: center;
        gap: 30px;
    }
    .codigo{
        grid-row: 1;
    }
    .addtype{
display: grid;
justify-content: center;
gap: 20px;
}
}