.grid-section{
    padding: 0px 200px;
   
}
main{
    display: grid;
    gap: 40px;
    padding: 40px;
}
*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.detalhe{
    font-size: 48px;
}

.detalhe::before{
    content: ".";
    color: red;
    /* top: 40px; */
    left: 140px;
    /* right: 30px; */
    position: relative;

    
}


@media (max-width:900px) {
   .grid-section{
    padding: 20px;
   }

   main{
    /* display: block; */
    gap: 10px;
    padding: 0px;
}
}